{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About the project</h1>
          <span class="subheading">A journal with discoveries and thoughts about technology.</span>
          <span class="photo-credits">Photo by <a href="https://unsplash.com/pt-br/@vackground?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">vackground.com</a> in <a href="https://unsplash.com/pt-br/fotografias/um-fundo-abstrato-azul-e-rosa-com-linhas-onduladas-agUC-v_D1iI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to our tech exploration hub, where every post is a voyage into the vast sea of technology.
        </p>
        <p>
          Embark on a journey with me as we navigate the ever-changing currents of innovation and discovery. 
          This blog is not just a destination; it's a compass pointing towards the uncharted territories of the tech world. 
          Just like a seasoned explorer, I am here to share the treasures and insights I've uncovered during my expeditions through the realms of coding and digital landscapes. 
        </p>
        <p>
          Together, let's unravel the mysteries, conquer the challenges, and revel in the thrill of technological features. 
          Join me on this exhilarating quest as we set sail into the unexplored horizons of the digital realm, where every AI, every line of code and every new device tells a 
          story waiting to be unveiled.
        </p>
        <p>
          Welcome aboard, fellow tech enthusiasts!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
